@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #ff1e1e;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d30000;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ff1e1e #1a1a1a;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #2f2d2d;
  color: #fff;
}
::selection {
  background-color: #ff1e1e;
  color: #fff;
}
@layer components {
  /* className */
  .ele-center {
    @apply flex justify-center items-center;
  }
  .main-btn {
    @apply text-center bg-primary-color text-white px-9 py-4 text-[19px] border-black;
  }
}
